<p id="notice"><%= notice %></p>

<h1>Urls</h1>

<%= link_to 'Download CSV', download_path, class: "mt-2 btn btn-warning" %>

<table>
  <thead>
    <tr>
      <th><h3>Long url</h3></th>
      <th><h3>Short url</h3><th>
      <th><h3>Num clicks</h3></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <p>
        <td><%= url.long_url %></td>
        <td><%= url.short_url %></td>
        <td><%= url.num_clicks %></td>
        <td><%= button_to "Follow the link", url_path(url), method: "get", class: "mt-2 btn-sm btn-primary" %></td>
        <td><%= link_to 'Delete link', url, method: :delete, data: { confirm: 'Are you sure?' }, class: "mt-2 btn-sm btn-warning" %></td>
        </p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', user_path(current_user), class: "mt-2 btn btn-warning" %>